@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Open Sans", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  z-index: 10;
}

.page-header__link {
  display: block;
}

.page-header__logo-icon {
  display: block;
}

.page-header__logo-text {
  display: block;
  margin: auto 0;
}

@media (max-width: 420px) {
  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation__toggle {
    position: relative;
    width: 24px;
    height: 16px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
  .navigation__toggle::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    height: 1.5px;
    background-color: #000000;
    transition: all 1s ease 0s;
  }
  .navigation__toggle::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 24px;
    content: "";
    height: 1.5px;
    background-color: #000000;
    transition: all 1s ease 0s;
  }

  .navigation__toggle--active::before {
    transform-origin: center;
    animation-name: burger-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
  }
  .navigation__toggle--active::after {
    transform-origin: center;
    animation-name: burger-bottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
  }
  .navigation__toggle--active .navigation__toogle-elem {
    transform: scale(0);
  }

  @keyframes burger-top {
    0% {
      top: 0;
    }
    50% {
      top: 7px;
    }
    60% {
      rotate: 1deg;
    }
    100% {
      rotate: 44deg;
    }
  }
  @keyframes burger-bottom {
    0% {
      bottom: 0;
    }
    50% {
      bottom: 7.5px;
    }
    60% {
      rotate: -1deg;
    }
    100% {
      rotate: -44deg;
    }
  }
  .navigation__toogle-elem {
    position: absolute;
    bottom: 7.5px;
    left: 0;
    right: 0;
    content: "";
    height: 1.5px;
    background-color: #000000;
    transition: all 1s ease 0s;
  }

  .navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 63px;
    display: block;
    width: 100%;
    height: 198px;
    text-align: center;
  }

  .navigatoin__list--active .navigation__item:nth-child(1) {
    top: 0px;
  }
  .navigatoin__list--active .navigation__item:nth-child(2) {
    top: 66px;
  }
  .navigatoin__list--active .navigation__item:nth-child(3) {
    top: 132px;
  }

  .navigation__item {
    position: absolute;
    top: -200px;
    left: 0;
    display: block;
    width: 100%;
    height: 66px;
    padding: 22px 10px 24px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
    z-index: 5;
  }

  .navigation__link {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
  }
}
.hero {
  padding: 35px 27px;
  padding-bottom: 10px;
  background: url("../img/hero/green-kitty.jpg") no-repeat 0 0;
  text-align: center;
  color: #ffffff;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.hero__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__image {
  display: block;
  margin-bottom: 3px;
}

.hero__link {
  display: block;
  padding: 7px;
  font-size: 14px;
  line-height: 18px;
}

.options {
  padding: 10px 20px;
}

.options-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.options-list__item {
  padding: 30px 20px 18px;
  background-color: #f2f2f2;
}
.options-list__item:first-child {
  margin-bottom: 20px;
}
.options-list__item:first-child .options-list__title::before {
  background-image: url("../img/options/cat-slim.png");
}
.options-list__item:last-child .options-list__title::before {
  left: -75px;
  width: 67px;
  height: 50px;
  background-image: url("../img/options/cat-fat.png");
}

.options-list__title {
  position: relative;
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.options-list__title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -70px;
  display: block;
  width: 50px;
  height: 53px;
}

.options-list__desc {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  position: relative;
  margin-bottom: 38px;
}
.options-list__desc::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -23px;
  height: 1px;
  background-color: #d9d9d9;
}

.options-list__link {
  position: relative;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.options-list__link::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -39px;
  width: 24px;
  height: 12px;
  background-image: url("../img/options/arrow.svg");
}

.benefits {
  padding: 10px 20px 49px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.benefits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefits-list__item {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  position: relative;
  padding: 2px 0 2px 80px;
}
.benefits-list__item:not(:last-child) {
  margin-bottom: 24px;
}
.benefits-list__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 60px;
  height: 60px;
}
.benefits-list__item--leaf::before {
  background-image: url("../img/benefits/leaf.png");
}
.benefits-list__item--boiling-water::before {
  background-image: url("../img/benefits/boiling-water.png");
}
.benefits-list__item--eat::before {
  background-image: url("../img/benefits/eat.png");
}
.benefits-list__item--clock::before {
  background-image: url("../img/benefits/clock.png");
}

.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__desc {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  margin-bottom: 20px;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  text-align: center;
  margin-bottom: 36px;
}

.example__feature {
  width: 124px;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.example__feature:first-child {
  margin-right: 32px;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
}

.example__property {
  display: block;
  width: 62px;
  padding: 9px 12px 0;
  margin: auto;
  margin-bottom: -33px;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #eaeaea;
  list-style: none;
}

.example__costs {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.slider {
  position: relative;
  height: 256px;
  overflow: hidden;
}

.slider__photo {
  width: auto;
  height: auto;
  position: absolute;
}

.slider__photo--sublay {
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.slider__photo--overlay {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.slider__control {
  position: relative;
  -webkit-appearance: none;
  width: calc(100% + 40px);
  height: 100%;
  margin-left: -20px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.slider__control::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 40px;
  height: 256px;
  background: url("../../img/example/curtain.png");
}

.form-container {
  padding: 27px 20px 32px;
}

.form-container__title {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-bottom: 37px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.form-container__slogan {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  max-width: 226px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__personal-info {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  position: relative;
  padding-bottom: 23px;
  border: none;
}
.form__personal-info::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #d9d9d9;
}

.form__input {
  display: grid;
  grid-template-columns: max-content minmax(173px, 228px);
  grid-template-rows: 45px;
  gap: 13px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.form__input:not(:last-child) {
  margin-bottom: 14px;
}

.form__input-title {
  display: inline-block;
  padding: 14px 0 13px;
  text-transform: uppercase;
}

.form__input-field {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  border: 1px solid #cdcdcd;
}

.form__programs {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  position: relative;
  padding: 22px 0 19px;
  margin-bottom: 26px;
  border: none;
}
.form__programs::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #d9d9d9;
}
.form__programs::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #d9d9d9;
}

.form__owner-info {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  margin-bottom: 24px;
}
.form__owner-info .form__title {
  margin-bottom: 26px;
}

.form__title {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
  font-size: 24px;
  line-height: 26px;
}

.form__comment {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  margin-bottom: 23px;
}
.form__comment .form__title {
  margin-bottom: 38px;
}

.form__textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 9px 12px 0 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  resize: none;
  box-sizing: border-box;
}

.form__additionals {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-bottom: 34px;
  border: none;
}
.form__additionals .form__title {
  margin-bottom: 34px;
}

.form__submit {
  display: block;
  width: 100%;
  padding: 7px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
}

.form__additional-info {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  display: block;
  color: #000000;
  text-align: center;
}

.controls-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.controls-list__item:not(:last-child) {
  margin-bottom: 13px;
}

.controls-list__control {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px;
  gap: 15px;
  width: 100%;
}

.controls-list__sign {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.controls-list__input:checked + .controls-list__sign::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.controls-list__input:checked + .controls-list__sign--radio::before {
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
.controls-list__input:checked + .controls-list__sign--checkbox::before {
  width: 26px;
  height: 26px;
  background-image: url("../../img/cat-form/tick.svg");
}

.controls-list__sign--radio {
  border-radius: 50%;
}

.controls-list__title {
  display: flex;
  align-items: center;
  grid-column: 2;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.products {
  padding: 27px 20px;
}

.products__title {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-bottom: 41px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.products__catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  position: relative;
  width: 100%;
}
.products__item::before {
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  content: "";
  height: 1px;
  background-color: #ebebeb;
}
.products__item::after {
  position: absolute;
  bottom: -1px;
  left: -20px;
  right: -20px;
  content: "";
  height: 1px;
  background-color: #ebebeb;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 14px 40px;
  padding: 19px 0 25px;
}

.card__link {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card__image {
  display: block;
}

.card__title {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  grid-column: 2;
  grid-row: 1;
  max-width: 76px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.card__features-list {
  grid-column: 2;
  grid-row: 2;
}

.card__order-button {
  grid-column: 1/-1;
  grid-row: 4;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-family: inherit;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: grid;
}

.features-list__item {
  display: flex;
  justify-content: space-between;
}

.additionals {
  padding: 25px 20px 35px;
}

.additionals__title {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additionals__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.additionals__item {
  padding: 13px 0 19px;
}

.additionals__promo {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  position: relative;
  display: inline-block;
  padding: 187px 60px 43px;
  color: #ffffff;
  background: url("../img/promo/green-kitty.jpg");
  text-align: center;
}
.additionals__promo::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 59px;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background: url("../../img/promo/gift-icon.svg");
}

.additive__title {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.additive__feature {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
}

.additive__order {
  width: 100%;
}

.address__content {
  display: grid;
  grid-template-columns: 139px 139px;
  gap: 2px;
  padding: 26px 20px;
  background-color: #f2f2f2;
}

.address__slogan {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
}

.address__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.address__house {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.address__city {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.address__map {
  position: relative;
  width: 320px;
  height: 362px;
  padding: 0;
}

.address__map-image {
  position: absolute;
  z-index: -5;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  background-color: #f2f2f2;
}

.page-footer__element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page-footer__element:not(:last-child)::after {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  content: "";
  height: 1px;
  background-color: #d9d9d9;
}

.page-footer__link {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.page-footer__logo {
  display: block;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  width: min-content;
  max-width: 150px;
}

.page-footer__social-item {
  display: block;
}
.page-footer__social-item:not(:last-child) {
  margin-right: 24px;
}

.page-footer__social-link {
  display: block;
}

.page-footer__copyright {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-footer__copyright-text {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  font-family: inherit;
  border: none;
}
/*# sourceMappingURL=style.css.map */