.additionals {
  position: relative;

  padding: 10px 0 0 0;
  overflow: hidden;

  @media (min-width: $vp-768) {
    padding: 24px 0 0 0;
  }

  @media (min-width: $vp-1280) {
    padding: 32px 0 86px 0;
  }
}

.additionals__container {
  display: grid;

  gap: 35px;

  @media (min-width: $vp-768) {
    gap: 69px;
  }

  @media (min-width: $vp-1280) {
    gap: 79px;
    grid-template-columns: 1fr 245px;
  }
}

.additionals__list-wrapper {
  padding: 0 0 35px 0;

  @media (min-width: $vp-768) {
    padding: 0 0 76px 0;
  }

  @media (min-width: $vp-1280) {
    padding: 0;
  }
}

.additionals__title {
  width: max-content;
  margin: 0 0 36px -20px;
  padding: 0 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  background-color: $color-default-white;

  &::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 50%;
    z-index: -1;

    width: 200vw;
    height: 2px;

    background-color: $color-apple;
    transform: translateX(-50%);
  }

  @media (min-width: $vp-768) {
    display: block;
    width: max-content;
    margin: 0 0 81px 0;
    padding: 0 35px 0 40px;

    font-size: 36px;
    line-height: 36px;


    &::after {
      top: 49px;
    }
  }

  @media (min-width: $vp-1280) {
    margin: 0 0 81px -40px;

    &::after {
      top: 56px;
    }
  }
}

.additionals__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.additionals__promo {
  position: relative;

  display: block;
  margin: 0;
  padding: 187px 21.4% 43px 21.4%;

  font-size: 16px;
  line-height: 20px;
  font-family: $font-lato;
  text-align: center;
  color: $color-default-white;

  background-color: rgba($color-apple, 0.85);

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 50%;

    width: 78px;
    height: 80px;

    background-image: url("../img/sprite.svg#gift-icon");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);

    @media (min-width: $vp-768) {
      width: 80px;
      height: 83px;

      background-image: url("../img/sprite.svg#gift-icon--big");
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url("../img/decor-img/promo-kitty@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/decor-img/promo-kitty@2x.jpg");
    }
  }

  @media (min-width: $vp-768) and (max-width: $vp-1280) {
    padding: 71px 124px 69px 422px;

    text-align: left;

    &::before {
      top: 50%;
      left: 77px;

      transform: translateY(-50%);
    }

    &::after {
      background-image: url("../img/decor-img/promo-kitty--big@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/decor-img/promo-kitty--big@2x.jpg");
      }
    }
  }

  @media (min-width: $vp-1280) {
    padding: 185px 43px 42px 41px;
  }
}
