@use "../site-styles/variables.scss" as *;
@use "../site-styles/mixins.scss" as *;

.additive {

}

.additive__title {
  @include reset-styles;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.additive__feature {
  @include desc-text(14, 14);
}

.feature-container {
}

.additive__key {
}

.additive__value {
}

.additive__order {
  width: 100%;
}
