.address {
  position: relative;
  z-index: 1;

  overflow: hidden;

  @media (min-width: $vp-1280) {
    padding: 95px 0 107px 0;

    .container {
      padding: 0;
    }
  }
}

:not(.example) + .address {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100%;

    background-color: $color-white-smoke;
  }
}

.address__content {
  display: grid;
  padding: 26px 0;

  grid-template-columns: 139px 1fr 139px;

  @media (min-width: $vp-768) {
    padding: 56px 40px 60px 40px;

    grid-template-columns: 172px 1fr 160px;
  }

  @media (min-width: $vp-1280) {
    width: 565px;
    margin-left: 110px;
    padding: 56px 60px 56px 80px;

    background-color: $color-default-white;

    pointer-events: all;

    grid-template-columns: 163px 1fr 175px;
  }
}

.address__slogan {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding: 5px 0 0 0;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $vp-1280) {
    padding: 0;
  }
}

.address__location {
  font-size: 14px;
  line-height: 20px;
  font-family: $font-lato;
  color: $color-charcoal;

  grid-column: 3;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $vp-1280) {
    text-align: left;
  }
}

.address__street {
  margin: 0;
}

.address__city {
  margin: 0;
}

.address__map {
  position: relative;

  width: 100%;
  height: 362px;
  padding: 0;

  @media (min-width: $vp-768) {
    height: 400px;
  }

  @media (min-width: $vp-1280) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.adress__map-image {
  position: absolute;
  z-index: -5;

  display: block;
  height: 100%;
}

.address__map-online {
  display: block;
  width: 100%;
  height: 100%;
}
