.benefits {
  position: relative;

  padding: 10px 0 33px 0;

  @media (min-width: $vp-768) and (max-width: $vp-1280) {
    padding: 44px 0 47px 0;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 1px;

      background-color: $color-whisper;
    }
  }

  @media (min-width: $vp-1280) {
    padding: 61px 0 10px 0;
  }
}

.benefits__title {
  margin: 0 0 40px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $vp-768) {
    margin: 0 0 32px 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  list-style-type: none;

  counter-reset: number 0;

  gap: 20px;

  @media (min-width: $vp-768) {
    display: grid;
    justify-content: flex-start;
    margin: 0 auto 0 0;
    padding: 0 75px 0 0;

    column-gap: 22%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, max-content);
    row-gap: 37px;
  }

  @media (min-width: $vp-1280) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;

    gap: 0;
  }
}

.benefits__item {
  position: relative;

  min-height: 60px;
  margin: 0;
  padding: 2px 0 2px 80px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-lato;
  color: $color-charcoal;

  counter-increment: number;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-size: 100%;

    @media (min-width: $vp-768) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url("../img/sprite.svg#leaf");

    @media (min-width: $vp-768) {
      background-image: url("../img/sprite.svg#leaf-big");
    }
  }

  &--boiling-water::before {
    background-image: url("../img/sprite.svg#boiling-water");

    @media (min-width: $vp-768) {
      background-image: url("../img/sprite.svg#boiling-water-big");
    }
  }

  &--eat::before {
    background-image: url("../img/sprite.svg#eat");

    @media (min-width: $vp-768) {
      background-image: url("../img/sprite.svg#eat-big");
    }
  }

  &--clock::before {
    background-image: url("../img/sprite.svg#clock");

    @media (min-width: $vp-768) {
      background-image: url("../img/sprite.svg#clock-big");
    }
  }

  @media (min-width: $vp-768) {
    width: 33.8%;
    padding: 151px 0 57px 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      top: 40px;
      left: 0;
    }

    &::after {
      content: counter(number);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -5;

      font-size: 280px;
      line-height: 280px;
      font-family: $font-oswald;
      color: $color-white-smoke;
    }

    &:nth-child(1) {
      width: 230px;
    }

    &:nth-child(2) {
      width: 246px;
    }

    &:nth-child(3) {
      width: 247px;
    }

    &:nth-child(4) {
      width: 249px;
    }
  }

  @media (min-width: $vp-1280) {
    max-width: 250px;

    &:nth-child(1) {
      margin: 0 20px 0 0;
    }
  }
}
