.benefits {
  position: relative;
  padding: 10px 0 49px 0;

  @media (min-width: $vp-768) and (max-width: $vp-1280) {
    padding: 35px 0 47px 0;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: $color-whisper;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  @media (min-width: $vp-1280) {
    padding: 61px 0 10px 0;
  }
}

.benefits__title {
  margin: 0 0 40px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $vp-768) {
    margin: 0 0 32px 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  list-style-type: none;

  counter-reset: number 0;

  gap: 20px;

  @media (min-width: $vp-768) {
    width: 82.4%;
    max-width: 850px;
    margin: 0 11.7% 0 0;
  }

  @media (min-width: $vp-1280) {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.benefits__item {
  position: relative;

  min-height: 60px;
  margin: 0;
  padding: 2px 0 2px 80px;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-lato;
  color: $color-charcoal;

  counter-increment: number;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;
  }

  &--leaf::before {
    background-image: url("../img/benefits/leaf.png");
  }

  &--boiling-water::before {
    background-image: url("../img/benefits/boiling-water.png");
  }

  &--eat::before {
    background-image: url("../img/benefits/eat.png");
  }

  &--clock::before {
    background-image: url("../img/benefits/clock.png");
  }

  @media (min-width: $vp-768) {
    width: 33.8%;
    padding: 151px 0 57px 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      top: 40px;
      left: 0;
    }

    &::after {
      content: counter(number);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -5;

      font-size: 280px;
      line-height: 280px;
      font-family: $font-oswald;
      color: $color-white-smoke;
    }
  }

  @media (min-width: $vp-1280) {
    max-width: 250px;
  }
}
