.card {
  position: relative;

  display: grid;
  width: 100%;
  padding: 20px 0 25px 0;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 18px;

  // Декоративные линии на мобилках
  &:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;

    height: 1px;

    background-color: $color-whisper;
  }

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 1px;
    left: -20px;

    height: 1px;

    background-color: $color-whisper;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    min-height: 503px;
    padding: 0  36px 39px 36px;

    row-gap: 0;

    &::before {
      display: none;
    }

    &::after {
      top: auto;
      bottom: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: calc(100% - 66px);

      background-color: $color-white-smoke;
    }
  }

  @media (min-width: $vp-1280) {
    min-height: 431px;
    padding: 0 30px 40px 35px;
  }
}

.card--more-button {
  padding: 78px 0 25px 0;

  text-align: center;

  gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: center;

  .card__title {
    max-width: 220px;
    margin: 0 0 8px 0;

    grid-column: 1;
    grid-row: 1;
  }

  .card__slogan {
    max-width: 220px;
    margin: 0 0 21px 0;

    font-size: 12px;
    line-height: 16px;
    font-family: $font-lato;

    grid-row: 2;
  }

  .card__order-button {
    width: 100%;
  }

  .card__plus {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;

    width: 30px;
    height: 30px;

    background-color: $color-light-gray;
    transform: translateX(-50%);

    mask-image: url("../img/sprite.svg#plus");
  }

  &::after {
    display: none;
  }

  @media (min-width: $vp-768) {
    min-height: 429px;
    margin: auto 0 0 0;
    padding: 156px 36px 39px 36px;

    border: 2px solid $color-white-smoke;

    .card__plus {
      top: 52px;

      width: 60px;
      height: 60px;
    }

    .card__title {
      max-width: 150px;
      margin: 0 auto 23px auto;
    }

    .card__slogan {
      margin: 0 auto 87px auto;

      font-size: 16px;
      line-height: 18px;
    }
  }

  @media (min-width: $vp-1280) {
    padding: 160px 38px 41px 38px;
  }
}

.card__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;

  grid-row: 1 / 3;

  @media (min-width: $vp-768) {
    margin: 0 0 37px 0;
  }
}

.card__image {
  display: block;
}

.card__title {
  max-width: 76px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-nero;
  text-transform: uppercase;

  grid-column: 2;
  grid-row: 1;

  @media (min-width: $vp-768) {
    max-width: 135px;
    margin: 0 auto 15px auto;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $vp-1280) {
    line-height: 21px;
  }
}

.card__title-link {
  color: $color-nero;
}

.card__order-button {
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  text-align: center;

  grid-column: 1 / -1;
  grid-row: 3;

  @media (min-width: $vp-768) {
    grid-column: 1;
    grid-row: 4;
  }
}
