.controls-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.controls-list--checkboxes {
  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 32px;

    .controls-list__item:not(:last-child) {
      margin: 0;
    }
  }

  @media (min-width: $vp-1280) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.controls-list__item {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.controls-list__control {
  display: grid;
  width: 100%;

  gap: 15px;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px;

  @media (min-width: $vp-768) {
    grid-template-columns: 40px auto;
    grid-template-rows: 40px;
  }
}

.controls-list__sign {
  position: relative;

  width: 100%;
  height: 100%;

  border: 1px solid $color-very-light-grey;
}

.controls-list__input:checked + .controls-list__sign::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.controls-list__input:checked + .controls-list__sign--radio::before {
  width: 13px;
  height: 13px;

  background-color: $color-apple;
  border-radius: 50%;

  @media (min-width: $vp-768) {
    width: 18px;
    height: 18px;
  }
}

.controls-list__input:checked + .controls-list__sign--checkbox::before {
  width: 26px;
  height: 26px;

  background-image: url("../img/form/tick.svg");

  @media (min-width: $vp-768) {
    background-image: url("../img/form/tick--big.svg");
  }
}

.controls-list__sign--radio {
  border-radius: 50%;
}

.controls-list__title {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  grid-column: 2;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
  }
}
