.example {
  position: relative;

  padding: 25px 0 40px 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 100%;

    background-color: $color-whisper;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    padding: 43px 0 100px 0;
  }

  @media (min-width: $vp-1280) {
    padding: 59px 0 0 0;
  }
}

.example__title {
  margin: 0 0 40px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  grid-column: 1 / -1;
  grid-row: 1;

  @media (min-width: $vp-768) {
    margin: 0 0 63px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1280) {
    margin: 0 0 76px 0;
  }
}

.example__wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);

  @media (min-width: $vp-768) {
    grid-template-columns: 51.7% 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  @media (min-width: $vp-1280) {
    position: relative;

    padding: 70px 0;

    grid-template-columns: 432px 1fr;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -3;

      width: 200vw;
      height: 100%;

      background-color: $color-whisper;
      transform: translateX(-50%);
    }
  }
}

.example__desc {
  margin: 0 0 20px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-lato;
  color: $color-charcoal;

  grid-column: 1 / -1;
  grid-row: 1;

  @media (min-width: $vp-768) {
    margin: 0 0 54px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $vp-1280) {
    margin: 0 0 69px 0;

    grid-column: 1;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;

  gap: 32px;
  grid-column: 1 / -1;

  @media (min-width: $vp-768) {
    margin: 0 0 105px 0;

    gap: 42px;
    grid-column: 1;
  }

  @media (min-width: $vp-1280) {
    width: 84%;
    margin: 0 0 55px 0;
  }
}

.example__feature {
  width: 100%;
  height: 56px;
  padding: 14px 0 17px 0;

  border: 1px solid $color-very-light-grey;
  border-radius: 3px;

  &:last-child {
    grid-column: 2;
  }

  @media (min-width: $vp-768) {
    height: 72px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    height: 100%;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__property {
  display: block;
  width: 90px;
  margin: auto auto -33px auto;
  padding: 9px 12px 0 12px;

  list-style-type: none;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-lato;
  color: $color-charcoal;

  background-color: $color-whisper;

  @media (min-width: $vp-768) {
    width: max-content;

    font-size: 14px;
    line-height: 14px;

    background-color: $color-default-white;
  }

  @media (min-width: $vp-1280) {
    background-color: $color-whisper;
  }
}

.example__costs {
  margin: 34px 0 20px 0;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  grid-column: 1 / -1;

  @media (min-width: $vp-768) {
    display: block;
    max-width: 180px;
    margin: 0 0 0 auto;
    padding: 8px 0 0 0;

    font-size: 20px;
    line-height: 29px;
    text-align: right;

    grid-column: 2;
  }

  @media (min-width: $vp-1280) {
    display: flex;
    max-width: none;
    margin: 0;
    padding: 0;

    gap: 63px;
    grid-column: 1;
  }
}
