@use "../site-styles/variables.scss" as *;
@use "../site-styles/mixins.scss" as *;

.features-list {
  @include reset-styles;
  display: grid;
}

.features-list__item {
  display: flex;
  justify-content: space-between;
}
