.form__container {
  overflow: hidden;
}

.form__personal-programs-wrapper {
  @media (min-width: $vp-768) {
    margin: 0 0 71px 0;
  }

  @media (min-width: $vp-1280) {
    display: grid;
    align-items: center;
    margin: 0 0 65px 0;

    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1280) {
    gap: 80px;
  }
}

.form__personal-info {
  position: relative;

  margin: 0;
  padding: 0 0 23px 0;

  border: none;

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: -1px;
    left: -20px;

    height: 1px;

    background-color: $color-gainsboro;
  }

  @media (min-width: $vp-768) {
    margin: 0 0 52px 0;
    padding: 20px 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $vp-1280) {
    margin: 0;
    padding: 0;
  }
}

.form__input {
  display: grid;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  color: $color-charcoal;

  cursor: pointer;

  gap: 13px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 45px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  &:hover {
    .form__input-field {
      outline-color: $color-very-light-grey;
    }
  }

  .form__input-field:focus {
    outline: 2px solid $color-default-black;

    & + .form__input-sign {
      background-color: $color-apple;
    }
  }

  &--error {
    .form__input-field {
      outline: 2px solid $color-light-coral;
    }

    .form__input-sign {
      background-color: $color-light-coral;
    }
  }

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;

    grid-template-rows: 52px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.form__owner-input {
  position: relative;
  z-index: 0;

  @media (min-width: $vp-1280) {
    margin: 0;

    gap: 22px;
  }
}

.form__input-sign {
  position: absolute;
  top: 50%;
  right: 15px;

  width: 20px;
  height: 20px;

  background-color: $color-default-black;
  transform: translateY(-50%);

  mask-image: url("../img/sprite.svg#icon-email");
}

.form__owner-input:nth-child(2) {
  .form__input-sign {
    mask-image: url("../img/sprite.svg#icon-phone");
  }
}

.form__input-title {
  display: inline-block;

  text-transform: uppercase;
}

.form__input-field {
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 14px 20px 13px 20px;

  font-size: 16px;
  line-height: 19px;
  font-family: $font-oswald;
  color: $color-charcoal;

  outline: 1px solid $color-whisper;
  border-radius: 0;
  border: none;

  @media (min-width: $vp-768) {
    padding: 10px 20px;

    font-size: 20px;
    line-height: 30px;
  }
}

.form__programs {
  position: relative;

  margin: 0 0 26px 0;
  padding: 22px 0 19px 0;

  border: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;

    width: 200vw;
    height: 1px;

    background-color: $color-gainsboro;
    transform: translateX(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 200vw;
    height: 1px;

    background-color: $color-gainsboro;
    transform: translateX(-50%);
  }

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 25px 28px 29px 28px;

    outline: 1px solid $color-whisper;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $vp-1280) {
    margin: 0;
  }
}


.form__owner-info-container {
  position: relative;
  margin: 0 0 24px 0;
  overflow: hidden;

  @media (min-width: $vp-768) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $vp-1280) {
    margin: 0 0 67px 0;
  }
}

.form__owner-info {
  border: none;


  .form__title {
    margin-bottom: 35px;
  }

  @media (min-width: $vp-768) {
    .form__title {
      margin: 0 0 76px -35px;
    }
  }

  @media (min-width: $vp-1280) {
    .form__title {
      margin: 0 0 76px -35px;
    }
  }
}

.form__owner-info-wrapper {
  @media (min-width: $vp-1280) {
    display: grid;

    gap: 60px;
    grid-template-columns: 1fr 1fr;

    .form__owner-input {
      margin: 0;
    }
  }

  @media (min-width: $vp-1280) {
    gap: 80px;
  }
}

.form__title {
  display: block;
  width: max-content;
  max-width: 220px;
  margin: 0 0 0 -20px;
  padding: 0 15px 0 20px;

  font-size: 24px;
  line-height: 26px;

  background-color: $color-default-white;

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;

    width: 200vw;
    height: 2px;

    background-color: $color-apple;
    transform: translateX(-50%);
  }

  @media (min-width: $vp-768) {
    max-width: unset;
    padding: 0 35px 0 40px;

    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 22px;
    }
  }
}

.form__comment-container {
  margin: 0 0 23px 0;
  overflow: hidden;
  position: relative;

  @media (min-width: $vp-768) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $vp-1280) {
    margin: 0 0 67px 0;
  }
}

.form__comment {
  border: none;

  .form__title {
    margin-bottom: 38px;
  }

  @media (min-width: $vp-768) {
    .form__title {
      margin: 0 0 76px -35px;
    }
  }

  @media (min-width: $vp-1280) {
    .form__title {
      margin: 0 0 76px -35px;
    }
  }
}

.form__textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 9px 12px 10px 15px;

  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  text-transform: uppercase;

  border: none;
  outline: 1px solid $color-whisper;
  outline-offset: -1px;

  resize: none;

  @media (min-width: $vp-768) {
    height: 174px;

    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    outline-color: $color-very-light-grey;
  }

  &:focus-within {
    outline-color: $color-default-black;
  }
}

.form__additionals-container {
  margin: 0 0 34px 0;
  overflow: hidden;
  position: relative;

  @media (min-width: $vp-768) {
    margin: 0 0 54px 0;
  }

  @media (min-width: $vp-1280) {
    margin: 0 0 61px 0;
  }
}

.form__additionals {
  border: none;

  .form__title {
    margin-bottom: 34px;
  }

  @media (min-width: $vp-768) {
    .form__title {
      margin: 0 0 57px -35px;
    }
  }
}

.form__button-wrapper-container {
  @media (min-width: $vp-768) {
    display: grid;

    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1280) {
    gap: 80px;
  }
}

.form__submit {
  display: block;
  width: 100%;
  margin: 0 0 21px 0;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 13px 45px;

    font-size: 20px;
    line-height: 26px;
  }
}

.form__additional-info {
  display: block;
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  font-family: $font-lato;
  text-align: center;
  color: $color-default-black;

  @media (min-width: $vp-768) {
    display: grid;
    align-items: center;

    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
}
