.hero {
  display: flex;
  flex-direction: column;
  padding: 35px 27px 10px 27px;

  text-align: center;
  color: $color-default-white;

  background-image: url("../img/hero/green-kitty.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: $vp-768) {
    padding: 62px 118px 0 118px;

    text-align: left;
    color: $color-default-black;

    background-image: none;
  }
}

.hero__title {
  margin: 0 0 25px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    max-width: 420px;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  margin: 0 0 29px 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin: 0 0 49px 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.hero__image {
  display: block;
  margin-bottom: 0 0 3px 0;
}

.hero__link {
  display: block;
  padding: 7px;

  font-size: 14px;
  line-height: 18px;

  @media (max-width: $vp-768) {
    order: 4;
  }

  @media (min-width: $vp-768) {
    width: max-content;
    padding: 14px 26px;

    font-size: 20px;
    line-height: 20px;
  }

  // @media (min-width: $vp-1440) {

  // }
}
