.hero {
  padding: 27px 0 10px 0;

  text-align: center;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    position: relative;

    padding: 62px 90px 526px 90px;

    text-align: left;
    color: $color-default-black;

    background-image: none;
  }

  @media (min-width: $vp-1280) {
    padding: 82px 78px 185px 78px;
  }
}

.hero__heading {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -27px;
    left: -20px;
    z-index: -1;

    width: calc(100% + 40px);
    height: calc(100% + 162px);

    background-image: url("../img/decor/kitty.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $vp-768) {
      display: none;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/decor/kitty@2x.jpg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -27px;
    left: -20px;
    z-index: -1;

    width: calc(100% + 40px);
    height: calc(100% + 162px);

    background-color: rgba($color-apple, 0.85);

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-1280) {
    position: relative;

    max-width: 1280px;
  }
}

.hero__title {
  max-width: 350px;
  margin: 0 auto 25px auto;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    max-width: 420px;
    margin: 0 0 43px 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  margin: 0 0 29px 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 420px;
    margin: 0 0 49px 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.hero__image {
  display: block;
  max-width: 400px;
  margin: 0 auto 3px auto;

  @media (min-width: $vp-768) {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;

    max-width: none;

    transform: translateX(-50%);
  }

  @media (min-width: $vp-1280) {
    top: -82px;
    bottom: unset;
    left: 478px;

    transform: none;
  }
}

.hero__link {
  display: block;
  padding: 11px;

  font-size: 14px;
  line-height: 18px;

  @media (min-width: $vp-768) {
    order: 2;
    width: max-content;
    max-width: 420px;
    padding: 17px 28px;

    font-size: 20px;
    line-height: 20px;
  }
}
