.navigation {
  display: flex;
  align-items: center;
}

.navigation__toggle {
  z-index: 5;
  position: absolute;
  width: 24px;
  right: 25px;
  cursor: pointer;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.navigation__toggle-elem {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 2px;
  background: $color-default-black;
  transition: all 0.3s;
  position: relative;

  & + .navigation__toggle-elem {
    margin: 3px 0 0 0;
  }
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(1) {
  animation: ease 0.5s top forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(1) {
  animation: ease 0.5s top-2 forwards;
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(2) {
  animation: ease 0.5s scaled forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(2) {
  animation: ease 0.5s scaled-2 forwards;
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(3) {
  animation: ease 0.5s bottom forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(3) {
  animation: ease 0.5s bottom-2 forwards;
}

.navigation__list {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: center;

  @media (min-width: $vp-768) {
    position: static;

    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    min-width: 440px;
    height: auto;
    z-index: 5;
  }

  @media (min-width: $vp-1280) {
    min-width: 478px;
  }
}

//Поочередно выдвигает пункты бургерного меню(первый(i = 1) элемент примет положение top: 1 * 66px, второй(i = 2) top: 132px...
.navigation__list--active {
  @for $i from 1 through 3 {
    .navigation__item:nth-child(#{$i}) {
      top: #{$i * 66}px;
    }
  }
}

.navigation__item {
  position: absolute;
  top: -200px;
  left: 0;
  z-index: 1;

  display: block;
  width: 100%;
  padding: 22px 10px 24px 10px;

  background-color: $color-default-white;
  border-top: 1px solid $color-whisper;
  border-bottom: 1px solid $color-whisper;

  transition: all 0.5s ease;

  @media (min-width: $vp-768) {
    position: static;

    width: auto;
    height: auto;
    padding: 0;
    background-color: $color-transparent;

    border: none;
    transition: none;
  }
}

.navigation__link {
  position: relative;


  display: block;
  margin: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $color-default-black;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding: 17px 0 10px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $vp-1280) {
    font-size: 20px;
    line-height: 30px;
  }
}

.navigation__link--current::after {
  @media (min-width: $vp-768) {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-apple;
  }
}

// По макету необходим белый цвет шрифта только на главной странице при ширине экрана более 1024px
.page-intro .navigation__link {
  @media (min-width: $vp-1280) {
    color: $color-default-white;

    &::after {
      background-color: $color-default-white;
    }
  }
}
