.navigation {
  display: flex;
  align-items: center;
}

.navigation__toggle {
  right: 25px;
  z-index: 5;

  width: 24px;

  cursor: pointer;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.navigation__toggle-elem {
  position: relative;

  display: block;
  width: 100%;
  height: 2px;

  background-color: $color-default-black;

  transition: all 0.3s;

  & + .navigation__toggle-elem {
    margin: 3px 0 0 0;
  }
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(1) {
  animation: ease 0.5s top forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(1) {
  animation: ease 0.5s top-2 forwards;
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(2) {
  animation: ease 0.5s scaled forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(2) {
  animation: ease 0.5s scaled-2 forwards;
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(3) {
  animation: ease 0.5s bottom forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(3) {
  animation: ease 0.5s bottom-2 forwards;
}

.navigation__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -700px;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style-type: none;
  text-align: center;
  transition: top 0.5s;

  @media (min-width: $vp-768) {
    position: static;
    z-index: 5;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
    min-width: 440px;
    max-width: 500px;
    height: auto;
  }

  @media (min-width: $vp-1280) {
    min-width: 478px;
  }
}

.navigation--no-js {
  @media (max-width: $vp-768) {
    z-index: 5;

    width: 100%;

    .navigation__toggle {
      display: none;
    }

    .navigation__list {
      position: static;
    }

    .navigation__item {
      position: static;
    }
  }
}

//Поочередно выдвигает пункты бургерного меню(первый(i = 1) элемент примет положение top: 1 * 66px, второй(i = 2) top: 132px...
.navigation__list--active {
  top: 66px;
}

.navigation__item {
  width: 100%;

  background-color: $color-default-white;

  &:first-child {
    .navigation__link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;

      width: 200vw;
      height: 1px;

      background-color: $color-whisper;
      transform: translateX(-50%);

      @media (min-width: $vp-768) {
        display: none;
      }
    }
  }

  .navigation__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    width: 200vw;
    height: 1px;

    background-color: $color-whisper;
    transform: translateX(-50%);

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    position: static;

    width: auto;
    height: auto;
    padding: 0;

    background-color: $color-transparent;

    transition: none;
  }
}

.navigation__link {
  position: relative;

  display: block;
  margin: 0;
  padding: 22px 10px 24px 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $color-default-black;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding: 17px 0 10px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $vp-1280) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__link--current::after {
  @media (min-width: $vp-768) {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $color-apple;
  }
}

// По макету необходим белый цвет шрифта только на главной странице при ширине экрана более 1024px
.page-intro .navigation__link {
  @media (min-width: $vp-1280) {
    color: $color-default-white;

    &::after {
      background-color: $color-default-white;
    }
  }
}
