.page-intro {
  position: relative;
  z-index: 1;

  overflow: hidden;

  @media (min-width: $vp-1280) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;

      width: 50%;
      height: 100%;

      background-image: url("../img/decor/kitty-big.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/decor/kitty-big@2x.jpg");
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;

      width: 50%;
      height: 100%;

      background-color: rgba($color-apple, 0.85);
    }
  }
}
