.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: min-content;
  align-items: middle;
}

.page-header__link {
  display: block;
}

.page-header__logo-icon {
  display: block;
}

.page-header__logo-text {
  display: block;
  margin: auto 0;
}

.navigation {

}

.navigation__toggle {
  width: 24px;
  height: 16px;
  padding: 0;
  margin: 0;
}

.burger-toggle {
}

.navigation__list {
  display: none;
  flex-direction: column;
  list-style-type: none;
}

.navigation__item {
}

.navigation__link {
}
