.page-header {
  position: relative;
  z-index: 0;

  padding: 12px 0 16px 0;

  border-bottom: 1px solid $color-gainsboro;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;

    background-color: #ffffff;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    padding: 0;

    border-bottom: none;
  }

  @media (min-width: $vp-1280) {
    padding: 53px 0 29px 0;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-header__link {
  z-index: 5;

  display: block;
}

.page-header__logo {
  display: block;
}
