.page-footer {
  padding: 30px 0 23px 0;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    padding: 41px 0;
  }

  @media (min-width: $vp-1280) {
    padding: 55px 0;
  }
}

.page-footer__wrapper {
  display: grid;

  gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);

  @media (min-width: $vp-768) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.page-footer__element {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;

    height: 1px;

    background-color: $color-gainsboro;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    width: max-content;
  }
}

.page-footer__link {
  padding: 10px 0;
}

.page-footer__logo {
  display: block;
}

.page-footer__social-list-container {
  @media (min-width: $vp-768) {
    justify-self: center;
  }
}

.page-footer__social-list {
  display: grid;
  width: min-content;
  min-width: 156px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 46px;
}

.page-footer__social-item {
  display: block;
}

.page-footer__social-link {
  display: block;
  width: 100%;
  height: 100%;

  background-color: $color-dim-gray;

  mask-position: 50%;
  mask-repeat: no-repeat;
  mask-size: 29px 22px;

  &--vk {
    mask-image: url("../img/sprite.svg#icon-vk");
  }

  &--yt {
    mask-image: url("../img/sprite.svg#icon-yt");
  }

  &--tg {
    mask-image: url("../img/sprite.svg#icon-tg");
  }

  &:hover {
    background-color: $color-apple;
  }

  &:active {
    background-color: rgba($color-apple, 0.3);
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
  margin: 0 auto;
  padding: 15px 0;

  &:hover {
    .page-footer__copyright-logo {
      background-color: $color-apple;
    }
  }

  &:active {
    .page-footer__copyright-text {
      color: rgba($color-charcoal, 0.3);
    }

    .page-footer__copyright-logo {
      background-color: rgba($color-apple, 0.3);
    }
  }

  @media (min-width: $vp-768) {
    max-width: none;
    margin: 0;

    justify-self: end;
  }
}

.page-footer__copyright-text {
  margin: 0 27px 0 0;

  font-size: 16px;
  line-height: 19px;
  font-family: $font-lato;
  color: $color-charcoal;
}

.page-footer__copyright-logo {
  width: 27px;
  height: 34px;
  mask-image: url("../img/sprite.svg#copyright-logo");
  background-color: $color-dim-gray;
}
