.products {
  padding: 27px 0;

  @media (min-width: $vp-768) {
    padding: 64px 0 43px 0;
  }
}

.products__title {
  margin: 0 0 41px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 82px 0;
  }
}

.products__catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;

    column-gap: 8.24%;

    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
  }

  @media (min-width: $vp-1280) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6.56%;
  }
}
