.products {
  padding: 27px 0;

  @media (min-width: $vp-768) {
    padding: 64px 0 43px 0;
  }
}

.products__title {
  margin: 0 0 41px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 82px 0;
  }
}

.products__catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    display: grid;

    column-gap: 8.24%;

    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
  }

  @media (min-width: $vp-1280) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6.56%;
  }
}

.products__item {
  position: relative;

  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;

    height: 1px;

    background-color: $color-whisper;
  }

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: -1px;
    left: -20px;

    height: 1px;

    background-color: $color-whisper;
  }

  @media (min-width: $vp-768) {
    width: 46.1%;

    &::before,
    &::after {
      content: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 430px;
      background-color: $color-white-smoke;
      z-index: -1;
    }
  }

  @media (min-width: $vp-1280) {
    width: 20%;
  }
}
