.products {
  padding: 27px 20px;
}

.products__title {
  margin: 0 0 41px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.products__catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $vp-768) {
    gap: 7.8%;
  }

  @media (min-width: $vp-1024) {
    gap: 10.66%;
  }
}

.products__item {
  position: relative;

  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;

    height: 1px;

    background-color: $color-whisper;
  }

  @media (min-width: $vp-768) {
    width: 46.1%;

    &::before {
      content: none;
    }
  }

  @media (min-width: $vp-1024) {
    width: 17%;
  }

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: -1px;
    left: -20px;

    height: 1px;

    background-color: $color-whisper;
  }
}
