.slider {
  position: relative;
  height: 256px;
}

.slider__photo {
  width: auto;
  height: auto;
  position: absolute;
}

.slider__photo--sublay {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.slider__photo--overlay {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.slider__control {
  position: relative;
  -webkit-appearance: none;
  width: calc(100% + 40px);
  height: 100%;
  margin-left: -20px;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 256px;
    background: url("../../img/example/curtain.png");
  }
}
