@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  margin: 0;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 5px;
    transform: rotate(0);
  }
  100% {
    top: 5px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 5px;
    transform: rotate(45deg);
  }
  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 5px;
    transform: rotate(0);
  }
  100% {
    bottom: 5px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 5px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 5px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding: 0 110px;
  }
}

@media (min-width: 768px) {
  .form-container .container {
    padding: 0 70px;
  }
}

@media (min-width: 1280px) {
  .address .container {
    pointer-events: none;
  }
}

.page-header {
  position: relative;
  z-index: 0;
  padding: 12px 0 16px 0;
  border-bottom: 1px solid #d9d9d9;
}
.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-header::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-header {
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .page-header {
    padding: 53px 0 29px 0;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-header__link {
  z-index: 5;
  display: block;
}

.page-header__logo {
  display: block;
}

.page-intro {
  position: relative;
  z-index: 1;
}
@media (min-width: 1280px) {
  .page-intro::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 50%;
    height: 100%;
    background-image: url("../../img/hero/kitty-big.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .page-intro::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 50%;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__toggle {
  z-index: 5;
  position: absolute;
  width: 24px;
  right: 25px;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__toggle-elem {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 2px;
  background: #000000;
  transition: all 0.3s;
  position: relative;
}
.navigation__toggle-elem + .navigation__toggle-elem {
  margin: 3px 0 0 0;
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(1) {
  animation: ease 0.5s top forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(1) {
  animation: ease 0.5s top-2 forwards;
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(2) {
  animation: ease 0.5s scaled forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(2) {
  animation: ease 0.5s scaled-2 forwards;
}

.navigation__toggle--active .navigation__toggle-elem:nth-child(3) {
  animation: ease 0.5s bottom forwards;
}

.navigation__toggle--not-active .navigation__toggle-elem:nth-child(3) {
  animation: ease 0.5s bottom-2 forwards;
}

.navigation__list {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
@media (min-width: 768px) {
  .navigation__list {
    position: static;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    min-width: 440px;
    height: auto;
    z-index: 5;
  }
}
@media (min-width: 1280px) {
  .navigation__list {
    min-width: 478px;
  }
}

.navigation__list--active .navigation__item:nth-child(1) {
  top: 66px;
}
.navigation__list--active .navigation__item:nth-child(2) {
  top: 132px;
}
.navigation__list--active .navigation__item:nth-child(3) {
  top: 198px;
}

.navigation__item {
  position: absolute;
  top: -200px;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 22px 10px 24px 10px;
  background-color: #ffffff;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  .navigation__item {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
}

.navigation__link {
  position: relative;
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .navigation__link {
    padding: 17px 0 10px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .navigation__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .navigation__link--current::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}

@media (min-width: 1280px) {
  .page-intro .navigation__link {
    color: #ffffff;
  }
  .page-intro .navigation__link::after {
    background-color: #ffffff;
  }
}

.hero {
  padding: 35px 0 10px 0;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero {
    padding: 62px 118px 0 118px;
    text-align: left;
    color: #000000;
    background-image: none;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding: 62px 118px 185px 118px;
  }
}

.hero__heading {
  position: relative;
}
.hero__heading::before {
  content: "";
  position: absolute;
  top: -35px;
  left: -20px;
  z-index: -1;
  width: calc(100% + 40px);
  height: calc(100% + 150px);
  background-image: url("../img/hero/kitty.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero__heading::before {
    display: none;
  }
}
.hero__heading::after {
  content: "";
  position: absolute;
  top: -35px;
  left: -20px;
  z-index: -1;
  width: calc(100% + 40px);
  height: calc(100% + 150px);
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .hero__heading::after {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero__container {
    margin: 0 0 526px 0;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    margin: 0;
  }
}

.hero__title {
  max-width: 350px;
  margin: 0 auto 25px auto;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .hero__title {
    max-width: 420px;
    margin: 0 0 41px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero__slogan {
    margin: 0 0 49px 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__image {
  display: block;
  max-width: 400px;
  margin: 0 auto 3px auto;
}
@media (min-width: 768px) {
  .hero__image {
    position: absolute;
    top: 263px;
    left: 0;
    z-index: -1;
  }
}
@media (min-width: 1280px) {
  .hero__image {
    top: 141px;
    left: 558px;
  }
}

.hero__link {
  display: block;
  padding: 7px;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .hero__link {
    order: 2;
    width: max-content;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}

.options__list {
  display: grid;
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (min-width: 768px) {
  .options__list {
    padding: 10px 0;
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .options__list {
    padding: 82px 0 10px 0;
    gap: 6.56%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.options__item {
  position: relative;
  padding: 30px 20px 18px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .options__item {
    position: relative;
    padding: 77px 316px 53px 52px;
  }
}
@media (min-width: 1280px) {
  .options__item {
    padding: 77px 52px 55px 52px;
  }
}

.options__item::after {
  content: "";
  position: absolute;
  display: block;
}

.options__item--slim::after {
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url("../img/options/cat-slim.png");
}
@media (min-width: 768px) {
  .options__item--slim::after {
    top: 81px;
    right: 62px;
    left: auto;
    width: 200px;
    height: 211px;
    background-image: url("../img/options/cat-slim--tablet.png");
  }
}
@media (min-width: 1280px) {
  .options__item--slim::after {
    top: 41px;
    left: 52px;
    width: 100px;
    height: 106px;
    background-image: url("../img/options/cat-slim--desktop.png");
  }
}

.options__item--fat::after {
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url("../img/options/cat-fat.png");
}
@media (min-width: 768px) {
  .options__item--fat::after {
    top: 91px;
    right: 28px;
    left: auto;
    width: 268px;
    height: 200px;
    background-image: url("../img/options/cat-fat--tablet.png");
  }
}
@media (min-width: 1280px) {
  .options__item--fat::after {
    top: 47px;
    left: 33px;
    width: 134px;
    height: 100px;
    background-image: url("../img/options/cat-fat--desktop.png");
  }
}

.options__title {
  position: relative;
  margin: 0 0 29px 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .options__title {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1280px) {
  .options__title {
    margin: 0 0 73px 162px;
  }
}

.options__title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -70px;
  display: block;
  width: 50px;
  height: 53px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .options__title::before {
    display: none;
  }
}

.options__desc {
  position: relative;
  margin: 0 0 38px 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
}
.options__desc::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -23px;
  left: 0;
  height: 1px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .options__desc {
    max-width: 340px;
    margin: 0 0 48px 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Lato", "Open Sans", sans-serif;
    color: #444444;
  }
  .options__desc::after {
    display: none;
  }
}

.options__link {
  position: relative;
  display: block;
  width: max-content;
  padding: 4px 0;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
.options__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -39px;
  width: 24px;
  height: 12px;
  background-image: url("../img/options/arrow.svg");
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .options__link {
    font-size: 20px;
    line-height: 30px;
  }
}

.benefits {
  position: relative;
  padding: 10px 0 49px 0;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .benefits {
    padding: 35px 0 47px 0;
  }
  .benefits::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #eaeaea;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (min-width: 1280px) {
  .benefits {
    padding: 61px 0 10px 0;
  }
}

.benefits__title {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .benefits__title {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  counter-reset: number 0;
  gap: 20px;
}
@media (min-width: 768px) {
  .benefits__list {
    width: 82.4%;
    max-width: 850px;
    margin: 0 11.7% 0 0;
  }
}
@media (min-width: 1280px) {
  .benefits__list {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.benefits__item {
  position: relative;
  min-height: 60px;
  margin: 0;
  padding: 2px 0 2px 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  counter-increment: number;
}
.benefits__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.benefits__item--leaf::before {
  background-image: url("../img/benefits/leaf.png");
}
.benefits__item--boiling-water::before {
  background-image: url("../img/benefits/boiling-water.png");
}
.benefits__item--eat::before {
  background-image: url("../img/benefits/eat.png");
}
.benefits__item--clock::before {
  background-image: url("../img/benefits/clock.png");
}
@media (min-width: 768px) {
  .benefits__item {
    width: 33.8%;
    padding: 151px 0 57px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .benefits__item::before {
    top: 40px;
    left: 0;
  }
  .benefits__item::after {
    content: counter(number);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Open Sans", sans-serif;
    color: #f2f2f2;
  }
}
@media (min-width: 1280px) {
  .benefits__item {
    max-width: 250px;
  }
}

.example {
  position: relative;
  padding: 25px 0 40px 0;
  overflow: hidden;
}
.example::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #eaeaea;
  z-index: -1;
}
@media (min-width: 768px) {
  .example::before {
    height: 462px;
  }
}
@media (min-width: 768px) {
  .example {
    padding: 43px 0 100px 0;
  }
}
@media (min-width: 1280px) {
  .example {
    padding: 59px 0 0 0;
  }
}

.example__title {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  grid-column: 1/-1;
  grid-row: 1;
}
@media (min-width: 768px) {
  .example__title {
    margin: 0 0 63px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1280px) {
  .example__title {
    margin: 0 0 76px 0;
  }
}

.example__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
}
@media (min-width: 768px) {
  .example__wrapper {
    grid-template-columns: 51.7% 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}
@media (min-width: 1280px) {
  .example__wrapper {
    padding: 70px 0 75px 0;
    grid-template-columns: 436px 1fr;
  }
}

.example__desc {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  grid-column: 1/-1;
  grid-row: 1;
}
@media (min-width: 768px) {
  .example__desc {
    margin: 0 0 54px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .example__desc {
    margin: 0 0 69px 0;
    grid-column: 1;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  gap: 32px;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .example__list {
    margin: 0 0 54px 0;
    grid-column: 1;
  }
}
@media (min-width: 1280px) {
  .example__list {
    width: 84%;
  }
}

.example__feature {
  width: 100%;
  height: 56px;
  padding: 14px 0 17px 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.example__feature:last-child {
  grid-column: 2;
}
@media (min-width: 768px) {
  .example__feature {
    height: 72px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .example__value {
    height: 100%;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__property {
  display: block;
  width: 90px;
  margin: auto auto -33px auto;
  padding: 9px 12px 0 12px;
  list-style-type: none;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__property {
    width: max-content;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .example__property {
    background-color: #eaeaea;
  }
}

.example__costs {
  margin: 40px 0 20px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .example__costs {
    display: block;
    max-width: 180px;
    margin: 0 0 0 auto;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    grid-column: 2;
  }
}
@media (min-width: 1280px) {
  .example__costs {
    display: flex;
    max-width: none;
    margin: 0;
    gap: 63px;
    grid-column: 1;
  }
}

.example__slider {
  margin: 0 auto;
  grid-column: 1/-1;
  grid-row: 5;
}
@media (min-width: 768px) {
  .example__slider {
    grid-row: 4;
  }
}
@media (min-width: 1280px) {
  .example__slider {
    grid-column: 2;
    grid-row: 1/4;
  }
}

.slider {
  position: relative;
  display: block;
  width: 280px;
}

.slider__photo {
  position: absolute;
  width: auto;
  height: auto;
}

.slider__photo--sublay {
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.slider__photo--overlay {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.slider__control {
  position: relative;
  width: calc(100% + 40px);
  margin: 0 0 0 -20px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
}
.slider__control::-webkit-slider-thumb {
  width: 40px;
  height: 256px;
  background-image: url("../img/example/curtain.png");
  -webkit-appearance: none;
          appearance: none;
}

.form-container {
  padding: 27px 0 32px 0;
}

.form-container__title {
  margin: 0 0 37px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .form-container__title {
    margin: 0 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.form-container__slogan {
  max-width: 226px;
  margin: 0 0 39px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-container__slogan {
    margin: 0 0 46px 0;
    max-width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .form__personal-programs-container {
    margin: 0 0 71px 0;
  }
}
@media (min-width: 1280px) {
  .form__personal-programs-container {
    display: grid;
    align-items: center;
    margin: 0 0 65px 0;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }
}

.form__personal-info {
  position: relative;
  margin: 0;
  padding: 0 0 23px 0;
  border: none;
}
.form__personal-info::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: -1px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .form__personal-info {
    margin: 0 0 52px 0;
    padding: 20px 0;
  }
  .form__personal-info::after {
    display: none;
  }
}
@media (min-width: 1280px) {
  .form__personal-info {
    margin: 0;
    padding: 0;
  }
}

.form__input {
  display: grid;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  gap: 13px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 45px;
}
.form__input:not(:last-child) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .form__input {
    font-size: 20px;
    line-height: 30px;
    grid-template-rows: 52px;
  }
  .form__input:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form__owner-input {
  position: relative;
}
.form__owner-input::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url("../img/cat-form/email-icon.svg");
  transform: translateY(-50%);
}
.form__owner-input:last-child::after {
  background-image: url("../img/cat-form/phone-icon.svg");
}
@media (min-width: 1280px) {
  .form__owner-input {
    margin: 0;
  }
}

.form__input-title {
  display: inline-block;
  text-transform: uppercase;
}

.form__input-field {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 14px 20px 13px 20px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Oswald", "Open Sans", sans-serif;
  color: #444444;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form__input-field {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__programs {
  position: relative;
  margin: 0 0 26px 0;
  padding: 22px 0 19px 0;
  border: none;
}
.form__programs::before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: -1px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
}
.form__programs::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  left: -20px;
  height: 1px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .form__programs {
    margin: 0;
    padding: 25px 28px 29px 28px;
    border: 1px solid #eaeaea;
  }
  .form__programs::before, .form__programs::after {
    display: none;
  }
}
@media (min-width: 1280px) {
  .form__programs {
    margin: 0;
  }
}

.form__owner-info {
  position: relative;
  margin: 0 0 24px 0;
  padding: 0;
  overflow: hidden;
  border: none;
}
.form__owner-info .form__title {
  margin: 0 0 26px 0;
}
@media (min-width: 768px) {
  .form__owner-info {
    margin: 0 0 65px 0;
  }
  .form__owner-info .form__title {
    margin: 0 0 76px -35px;
  }
}
@media (min-width: 1280px) {
  .form__owner-info {
    margin: 0 0 67px 0;
  }
  .form__owner-info .form__title {
    margin: 0 0 76px -35px;
  }
}

@media (min-width: 1280px) {
  .form__owner-info-wrapper {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }
  .form__owner-info-wrapper .form__owner-input {
    margin: 0;
  }
}

.form__title {
  display: block;
  margin: 0;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form__title {
    width: max-content;
    padding: 0 35px 0 40px;
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
  }
  .form__title::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
  }
}

.form__comment {
  position: relative;
  margin: 0 0 23px 0;
  padding: 0;
  overflow: hidden;
  border: none;
}
.form__comment .form__title {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .form__comment {
    margin: 0 0 65px 0;
  }
  .form__comment .form__title {
    margin: 0 0 76px -35px;
  }
}
@media (min-width: 1280px) {
  .form__comment {
    margin: 0 0 67px 0;
  }
  .form__comment .form__title {
    margin: 0 0 76px -35px;
  }
}

.form__textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 9px 12px 0 15px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Open Sans", sans-serif;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  resize: none;
}
@media (min-width: 768px) {
  .form__textarea {
    height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__additionals {
  position: relative;
  margin: 0 0 34px 0;
  padding: 0;
  overflow: hidden;
  border: none;
}
.form__additionals .form__title {
  margin: 0 0 34px 0;
}
@media (min-width: 768px) {
  .form__additionals {
    margin: 0 0 54px 0;
  }
  .form__additionals .form__title {
    margin: 0 0 57px -35px;
  }
}
@media (min-width: 1280px) {
  .form__additionals {
    margin: 0 0 61px 0;
  }
}

@media (min-width: 768px) {
  .form__button-wrapper-container {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }
}

.form__submit {
  display: block;
  width: 100%;
  margin: 0 0 21px 0;
  padding: 7px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .form__submit {
    margin: 0;
    padding: 13px 45px;
    font-size: 20px;
    line-height: 26px;
  }
}

.form__additional-info {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family: "Lato", "Open Sans", sans-serif;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .form__additional-info {
    display: grid;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
}

.controls-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .controls-list--checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 32px;
  }
  .controls-list--checkboxes .controls-list__item:not(:last-child) {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .controls-list--checkboxes {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.controls-list__item:not(:last-child) {
  margin-bottom: 13px;
}

.controls-list__control {
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px;
}
@media (min-width: 768px) {
  .controls-list__control {
    grid-template-columns: 40px auto;
    grid-template-rows: 40px;
  }
}

.controls-list__sign {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #cdcdcd;
}

.controls-list__input:checked + .controls-list__sign::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls-list__input:checked + .controls-list__sign--radio::before {
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .controls-list__input:checked + .controls-list__sign--radio::before {
    width: 18px;
    height: 18px;
  }
}

.controls-list__input:checked + .controls-list__sign--checkbox::before {
  width: 26px;
  height: 26px;
  background-image: url("../img/cat-form/tick.svg");
}
@media (min-width: 768px) {
  .controls-list__input:checked + .controls-list__sign--checkbox::before {
    background-image: url("../img/cat-form/tick--big.svg");
  }
}

.controls-list__sign--radio {
  border-radius: 50%;
}

.controls-list__title {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  grid-column: 2;
}
@media (min-width: 768px) {
  .controls-list__title {
    font-size: 20px;
    line-height: 30px;
  }
}

.products {
  padding: 27px 0;
}
@media (min-width: 768px) {
  .products {
    padding: 64px 0 43px 0;
  }
}

.products__title {
  margin: 0 0 41px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .products__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 82px 0;
  }
}

.products__catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .products__catalog-list {
    display: grid;
    column-gap: 8.24%;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
  }
}
@media (min-width: 1280px) {
  .products__catalog-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6.56%;
  }
}

.card {
  position: relative;
  display: grid;
  width: 100%;
  padding: 19px 0 25px 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 13px;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  left: -20px;
  height: 1px;
  background-color: #eaeaea;
}
.card::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: -1px;
  left: -20px;
  height: 1px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .card {
    padding: 39px 36px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 0;
  }
  .card::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    z-index: -1;
    height: 430px;
    background-color: #f2f2f2;
  }
  .card::after {
    display: none;
  }
}

.card--more-button {
  padding: 78px 0 25px 0;
  text-align: center;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
}
.card--more-button .card__title {
  max-width: 220px;
  padding: 0 0 8px 0;
  grid-column: 1;
  grid-row: 1;
}
.card--more-button .card__slogan {
  max-width: 220px;
  margin: 0;
  padding: 0 0 21px 0;
  font-size: 12px;
  line-height: 16px;
  font-family: "Lato", "Open Sans", sans-serif;
  grid-row: 2;
}
.card--more-button .card__order-button {
  color: #444444;
  background-color: #f2f2f2;
  grid-row: 3;
  justify-self: stretch;
}
.card--more-button .card__plus {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 30px;
  height: 30px;
  background-image: url("../img/card/plus.svg");
  transform: translateX(-50%);
}
.card--more-button::before {
  display: none;
}
@media (min-width: 768px) {
  .card--more-button {
    align-self: flex-end;
    padding: 161px 36px 39px 36px;
    border: 2px solid #f2f2f2;
  }
  .card--more-button .card__plus {
    top: 52px;
    width: 60px;
    height: 60px;
    background-image: url("../img/card/plus--big.svg");
  }
  .card--more-button .card__title {
    padding: 0 0 23px 0;
  }
  .card--more-button .card__slogan {
    padding: 0 0 87px 0;
    font-size: 16px;
    line-height: 18px;
  }
}

.card__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  grid-row: 1/3;
}
@media (min-width: 768px) {
  .card__image-link {
    padding: 0 0 29px 0;
    grid-row: 1;
  }
}

.card__image {
  display: block;
}

.card__title {
  max-width: 76px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
}
@media (min-width: 768px) {
  .card__title {
    max-width: 135px;
    padding: 0 0 21px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
}

.card__title-link {
  color: #222222;
}

.card__features-list {
  font-size: 12px;
  line-height: 16px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  grid-column: 2;
  grid-row: 2;
}
@media (min-width: 768px) {
  .card__features-list {
    padding: 0 0 33px 0;
    font-size: 16px;
    grid-column: 1;
    grid-row: 3;
  }
}

.card__order-button {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Open Sans", sans-serif;
  text-align: center;
  grid-column: 1/-1;
  grid-row: 4;
}
@media (min-width: 768px) {
  .card__order-button {
    grid-column: 1;
    grid-row: 4;
  }
}

.features-list {
  display: grid;
  margin: 0;
  list-style-type: none;
}

.features-list__item {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .features-list__item {
    padding: 5px 0 9px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

.additionals {
  position: relative;
  padding: 25px 0 0 0;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .additionals {
    padding: 25px 0 86px 0;
  }
}

.additionals__container {
  display: grid;
  gap: 35px;
}
@media (min-width: 768px) {
  .additionals__container {
    gap: 69px;
  }
}
@media (min-width: 1280px) {
  .additionals__container {
    gap: 79px;
    grid-template-columns: 1fr 245px;
  }
}

.additionals__list-wrapper {
  padding: 0 0 35px 0;
}
@media (min-width: 768px) {
  .additionals__list-wrapper {
    padding: 0 0 76px 0;
  }
}
@media (min-width: 1280px) {
  .additionals__list-wrapper {
    padding: 0;
  }
}

.additionals__title {
  margin: 0 0 36px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .additionals__title {
    display: block;
    width: max-content;
    margin: 0 0 81px 0;
    padding: 0 35px 0 40px;
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
  }
  .additionals__title::after {
    content: "";
    position: absolute;
    top: 49px;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
  }
}

.additionals__list {
  margin: 0 0 35px 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .additionals__list {
    margin: 0 0 69px 0;
  }
}
@media (min-width: 1280px) {
  .additionals__list {
    margin: 0;
  }
}

.additionals__item {
  position: relative;
  padding: 13px 0 19px 0;
  border-bottom: 1px solid #cdcdcd;
}
.additionals__item:first-child {
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .additionals__item {
    padding: 26px 38px 28px 38px;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1280px) {
  .additionals__item {
    padding: 15px 0 17px 0;
  }
}

.additionals__promo {
  position: relative;
  display: block;
  margin: 0;
  padding: 187px 21.4% 43px 21.4%;
  font-size: 16px;
  line-height: 20px;
  font-family: "Lato", "Open Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/promo/green-kitty.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.additionals__promo::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  width: 78px;
  height: 80px;
  background-image: url("../img/promo/gift-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-50%);
}
@media (min-width: 768px) and (max-width: 1280px) {
  .additionals__promo {
    padding: 71px 124px 69px 422px;
  }
  .additionals__promo::before {
    top: 50%;
    left: 77px;
    transform: translateY(-50%);
  }
}
@media (min-width: 1280px) {
  .additionals__promo {
    padding: 185px 43px 42px 41px;
  }
}

@media (min-width: 768px) {
  .additive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 60px;
    row-gap: 23px;
  }
}
@media (min-width: 1280px) {
  .additive {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px;
    gap: 80px;
    align-items: center;
  }
}

.additive__title {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additive__title {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .additive__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.additive__feature {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
  font-size: 14px;
  line-height: 14px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
}
@media (min-width: 768px) {
  .additive__feature {
    margin: 0;
  }
}

.additive__order-button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .additive__order-button {
    grid-column: 1/-1;
  }
}
@media (min-width: 1280px) {
  .additive__order-button {
    padding: 8px 26px;
    width: 244px;
    justify-self: end;
    grid-column: 3;
  }
}

.address {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .address {
    padding: 95px 0 107px 0;
  }
  .address .container {
    padding: 0;
  }
}

:not(.example) + .address::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: #f2f2f2;
}

.address__content {
  display: grid;
  padding: 26px 0;
  grid-template-columns: 139px 1fr 139px;
}
@media (min-width: 768px) {
  .address__content {
    padding: 56px 0;
    grid-template-columns: 172px 1fr 160px;
  }
}
@media (min-width: 1280px) {
  .address__content {
    width: 565px;
    margin-left: 110px;
    padding: 56px 60px 56px 80px;
    background-color: #ffffff;
    grid-template-columns: 163px 1fr 175px;
    pointer-events: all;
  }
}

.address__slogan {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .address__slogan {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__location {
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
  grid-column: 3;
}
@media (min-width: 768px) {
  .address__location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .address__location {
    text-align: left;
  }
}

.address__street {
  margin: 0;
}

.address__city {
  margin: 0;
}

.address__map {
  position: relative;
  width: 100%;
  height: 362px;
  padding: 0;
}
@media (min-width: 768px) {
  .address__map {
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .address__map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.adress__map-image {
  position: absolute;
  z-index: -5;
  display: block;
  height: 100%;
}

.address__map-online {
  display: block;
  width: 100%;
  height: 100%;
}

.page-footer {
  padding: 40px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 55px 0;
  }
}

.page-footer__wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.page-footer__element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
.page-footer__element:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  height: 1px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer__element:not(:last-child)::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-footer__element {
    width: max-content;
  }
}

.page-footer__logo {
  display: block;
}

@media (min-width: 768px) {
  .page-footer__social-list-container {
    justify-self: center;
  }
}

.page-footer__social-list {
  display: flex;
  width: min-content;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-footer__social-item {
  display: block;
}
.page-footer__social-item:not(:last-child) {
  margin-right: 24px;
}

.page-footer__social-link {
  display: block;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    max-width: none;
    margin: 0;
    justify-self: end;
  }
}

.page-footer__copyright-text {
  margin: 0 27px 0 0;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", "Open Sans", sans-serif;
  color: #444444;
}

.button {
  display: block;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */