.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $vp-768) {
    padding: 0 30px;
  }

  @media (min-width: $vp-1280) {
    padding: 0 110px;
  }
}

.container--form {
  @media (min-width: $vp-768) and (max-width: $vp-1280) {
    padding: 0 70px;
  }
}

.container--address {
  @media (min-width: $vp-1280) {
    pointer-events: none;
  }
}
