*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-oswald;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  margin: 0;

  text-decoration: none;
}
